.toolSubmenu {
  width: 100%;
  height: 100vh;
  background-color: #00000000;
  color: #ffffff;
  /* padding: 16px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  border-left: 1px solid #2c2c2c;
  font-family: sans-serif;
}

.submenuSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px;
}

.submenuTitle {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.controlGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.controlGroup label {
  font-size: 13px;
  color: #ccc;
}

.colorInput {
  height: 36px;
  border: none;
  cursor: pointer;
  background: none;
}

.lineWidth {
  display: flex;
  width: 100%;
}

.rangeInput {
  width: 100%;
  cursor: pointer;
}

.widthValue {
  margin-left: auto;
  font-size: 12px;
  color: #888;
}

.toolBtn {
  padding: 8px 10px;
  background: #2a2a2a;
  border: 1px solid #333;
  color: white;
  cursor: pointer;
  text-align: left;
  transition: background 0.2s ease;
}

.toolBtn:hover {
  background: #3a3a3a;
}
